@import "./../../styles/colors.scss";

.app-layout {
  height: 100vh;

  .app-layout-sider {
    .ant-layout-sider-trigger {
      padding-top: 15px;
    }
  }

  .app-layout-content {
    // background-color: $bg-primary;
    padding: 3%;
  }
}
