// .card-price {
//   background-color: $bg-secondary;
//   border: 0 solid #2e3648;
//   border-radius: 0.25rem;

//   .ant-card-head {
//     // color: $text-primary;
//     border: unset;
//   }

//   // .ant-statistic-title {
//   //   color: $text-primary;
//   // }
// }
