@import "./../../../styles/colors.scss";

.card-statistic {
  .ant-statistic-content-suffix {
    padding-left: 15px;
  }
  .card-statistic-perc-change {
    .card-statistic-perc {
      padding-right: 10px;
    }

    .card-statistic-green {
      color: green;
    }

    .card-statistic-red {
      color: red;
    }
  }

  .wallet-amount {
    margin-top: 4px;
    color: $text-dark-secondary;
    font-size: 14px;
  }
}
