.card-statistic {
  .ant-statistic-content-suffix {
    padding-left: 15px;
  }
  .card-statistic-meta {
    padding-top: 10px;
    .card-statistic-perc {
      padding-right: 10px;
    }

    .card-statistic-green {
      color: green;
    }

    .card-statistic-red {
      color: red;
    }
  }
}
